
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div align="center">
    <h4>
        <a href="/Home/Home">Home</a> |
        <a href="/Home/Project">Projects</a> |
        <a href="/Home/Team">Team</a> |
        
    </h4>


</div>
<div>
    <h5>Company Name :@ViewBag.cname</h5>
    <h5>Address :@ViewBag.Address</h5>
    <h5>Email :@ViewBag.cemail</h5>
    <h5>Description :@ViewBag.Desc</h5>
</div>
