
@{
    ViewBag.Title = "Team";
}

<h2>Team</h2>

<div align="center">
    <h4>
        <a href="/Home/Home">Home</a> |
        <a href="/Home/Project">Projects</a> |
        <a href="/Home/Team">Team</a> |

    </h4>


</div>